<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="bbqConnectionString" connectionString="DRIVER={MySQL ODBC 5.3 ANSI Driver};SERVER=mssql4.gear.host;DATABASE=csharpevents;UID=csharpevents;PWD=Rs57I!V?HC2W;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />    
        <customErrors mode="Off"/>
    </system.web>
  <system.net>
    <mailSettings>
      <smtp from="lightonserge@gmail.com">
        <network host="smtp.gmail.com" password="mypassword" port="587" userName="lightonserge@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
